{% extends "base.html" %}

{% block content %}
    <h1>Amagon</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
				{% if title == 'A' %} 
				<div><p>{{ content["content"][i]["consequences"][0] }}</p></div>
				<p>{{ form.nextq() }}</p>
				{% endif %}


				{% if title == 'B' %} 
				<div><p>{{ content["content"][i]["consequences"][1] }}</p></div>
				<p>{{ form.nextq() }}</p>
				{% endif %} 

				{% if title == 'Amagon' %}
				<div><p>{{ content["content"][i]["scenario"] }}</p></div>
        	<p>{{ form.choice_A() }} <b>{{ content["content"][i]["choices"][0] }}</b></p>
        	<p>{{ form.choice_B() }} <b>{{ content["content"][i]["choices"][1] }}</b></p>
					<p>{{ form.submit() }}</p>	
				{% endif %} 
    </form>
{% endblock %}

