{% extends "base.html" %}

{% block content %}
    <h2>Welcome to Amagon!</h2>
    <p>This is a "choose-your-own-adventure" game. The year is 2020. You are the CEO of the up-and-coming tech startup Amagon. Your job is to grow Amagon into a global, profitable, ethical company. Along the way, you will have a series of choices. Each choice corresponds to a particular ethical framework (utilitarian or egoism). Pay attention to this because at the end, you will encounter a quiz to test your ethical framework knowledge! Let’s begin! </p>

    <a href="/adventure">Start Adventure</a>
{% endblock %}
